@value colors: "~styles/colors.module.css";
@value grey,black,red from colors;

.root{
    display: flex;
    align-items: center;
}

.item{
    margin-right: 2em;
    cursor: pointer;
    color: grey;

    &:hover{
        color: black;
    }
}
.action{
    color: black;
}

.active{

}